<?xml version="1.0" encoding="utf-8"?>
<VersionHandler xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <DPUConfig>
    <Name>Teszt DPU1</Name>
    <Identity>111</Identity>
    <Modules>
      <ModuleData>
        <Name>Buta service</Name>
        <Version>1.0.0.0</Version>
        <FileSystemPath>d:\Buta</FileSystemPath>
        <FileSystemExecutable>ButaService.exe</FileSystemExecutable>
        <ModuleGitPath>ButaService\V1.0</ModuleGitPath>
      </ModuleData>
    </Modules>
  </DPUConfig>
</VersionHandler>
