<?xml version="1.0" encoding="utf-8"?>
<VersionHandler xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <DPUConfig>
    <Name>Teszt DPU1</Name>
    <Identity>102</Identity>
    <Services>
      <ServiceData>
        <Name>ButaService</Name>
        <Version>1.1.0.0</Version>
        <FileSystemPath>d:\Buta</FileSystemPath>
        <FileSystemExecutable>ButaService.exe</FileSystemExecutable>
        <ServiceGitPath>Butaservice\v1.1</ServiceGitPath>
      </ServiceData>
    </Services>
  </DPUConfig>
</VersionHandler>
